* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/******************** Challenge ******************/
.navbar {
  display: flex;
  gap: 10px;
  width: max-content;
  padding: 0.3rem;
  position: fixed;
  right: 20px;
  top: 0;
}
.sign-in,
.sign-out,
.challenges {
  font-size: 1.2rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  background-color: black;
  color: yellow;
  border-radius: 10px;
}

.user-img {
  width: 100%;
  max-width: 40px;
  border-radius: 50%;
}

/********************* Challenge Popup ********************/
.challenge-popup {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
.challenge-popup-toggle {
  display: block;
}
.challenge-div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logout-heading {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}
.challenge-div > h2,
.logout-heading {
  text-align: center;
  font-size: 2rem;
}
.user-div {
  display: flex;
  justify-content: space-between;
}
.user-div2 {
  justify-content: center;
}

.user-div h2 {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.user-div .challenge-img {
  width: 100%;
  max-width: 30px;
}
.user-div .challenge-btn {
  font-size: 0.8rem;
  padding: 5px;
  cursor: pointer;
  color: yellow;
  background-color: black;
  border-radius: 10px;
}
.user-div2 .challenge-btn {
  padding: 5px;
  font-size: 1.2rem;
}

/****************************** starting pop up *****************/

.popup {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  padding: 2rem;
}
.popup-display {
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.popup-display ~ .game-level,
.popup-display ~ .game-data {
  opacity: 0;
}
.popup h2,
.popup h3 {
  width: 80%;
  text-align: center;
}
.popup .popup-heading1 {
  color: white;
  text-shadow: 1px 1px 3px black;
  text-transform: capitalize;
  font-size: 2rem;
}
.popup .popup-heading2 {
  color: white;
  text-shadow: 1px 1px 3px black;
  font-size: 1.2rem;
  font-weight: normal;
}
.popup .login,
.popup .no-login {
  font-size: 1.5rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
  text-shadow: 1px 1px 3px black;
  background: rgba(237, 241, 17, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
hr {
  width: 70%;
  margin-bottom: 1rem;

  color: white;
  background: rgba(237, 241, 17, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.311);
}

/************************ Gaming area **********************/

.app {
  margin-top: 3rem;
  display: flex;
  padding: 30px;
  width: 500px;
  height: 500px;
  position: relative;
  /* border: 2px solid red; */
}

.game {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.181);
  /* outline: 1px solid blue; */
  border-radius: 0.5rem;
}

.game-level {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translate(-80px, 20px);
  gap: 10px;
  overflow-y: hidden;
}
.game-level .btn {
  /* display: none; */
  color: white;
  cursor: pointer;
  background-color: rgb(200, 131, 34);
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0.3rem;
  width: 90%;
  transition: all 300ms;
  transform: translateY(-150px);
  opacity: 0;
  text-shadow: 1px 1px 3px black;
  background: rgba(237, 241, 17, 0.15);
  box-shadow: 0 0px 2px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.game-level .btn-levels {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 0.3rem;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 3px black;
  background: rgba(146, 140, 72, 0.396);
  box-shadow: 0 1px 5px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.game-level .btn-levels.toggle ~ .btn {
  opacity: 1;
  transform: translateY(0px);
}

.game-level .btn.active {
  color: black;
  text-shadow: none;
  background-color: rgb(255, 182, 46);
}

.game img {
  width: 50px;
  height: 50px;
}
.game-data {
  position: absolute;
  right: 0;
  transform: translate(85px, 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.game-data h2 {
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.507);
  padding: 0.2rem 0.4rem;
  width: max-content;
  color: white;
  text-shadow: 1px 1px 3px black;
  background: rgba(237, 241, 17, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.game-data .btn {
  cursor: pointer;
  background-color: orange;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0.3rem;
  color: white;
  text-shadow: 1px 1px 3px black;
  background: rgba(237, 241, 17, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.btn:active {
  border-bottom: 2px solid rgba(255, 255, 255, 0.382);
}
.game .lucky-bomb {
  animation: animate 500ms linear 100ms infinite alternate-reverse;
  cursor: pointer;
  /* border: 2px solid red; */
  transition: 300ms all;
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@media (max-width: 960px) {
  .app {
    /* border: 2px solid black; */
    width: 440px;
    height: 440px;
  }
  /******  initial pop up *********/
  .popup,
  .challenge-popup {
    width: 430px;
    height: 430px;
  }
  .popup .popup-heading1,
  .challenge-div > h2 {
    font-size: 1.5rem;
  }
  .popup-heading2 {
    font-size: 1.1rem;
  }
  .popup .login,
  .popup .no-login {
    font-size: 1.2rem;
  }
  /******  challenge pop up *********/

  .game {
    width: 360px;
    height: 360px;
  }
  .game img {
    width: 45px;
    height: 45px;
  }
  .game-data {
    transform: translate(80px, 20px);
  }
  .game-data h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 720px) {
  .app {
    /* border: 1px solid blue; */
    width: 370px;
    height: 370px;
  }
  .popup,
  .challenge-popup {
    width: 370px;
    height: 370px;
  }
  .challenge-div {
    padding: 1rem;
  }
  .challenge-div > h2 {
    font-size: 1.2rem;
  }
  .user-div h2 {
    font-size: 0.8rem;
  }
  .user-div .challenge-img {
    max-width: 20px;
    /* border: 1px solid red; */
  }
  .user-div .challenge-btn {
    font-size: 0.5rem;
    padding: 5px;
  }
  .game {
    padding: 0.2rem;
    width: 307.2px;
    height: 307.2px;
  }
  .game img {
    width: 37px;
    height: 37px;
  }
  .game-data h2,
  .game-data .btn,
  .game-level .btn-levels,
  .game-level .btn {
    font-size: 0.8rem;
    font-weight: normal;
  }
  .game-data {
    transform: translate(70px, 20px);
    gap: 5px;
  }
  .game-level {
    transform: translate(-50px, 20px);
    gap: 5px;
  }
}
@media (max-width: 500px) {
  .app {
    /* border: 1px solid blue; */
    margin-top: 5rem;
    width: 360px;
    height: 360px;
    padding: 0px;
  }

  .popup,
  .challenge-popup {
    width: 340px;
    height: 340px;
    left: 50%;
    transform: translateX(-50%);
  }
  .popup .popup-heading1 {
    font-size: 1.3rem;
  }
  .popup-heading2 {
    font-size: 1rem;
  }
  .popup .login,
  .popup .no-login {
    font-size: 1rem;
  }
  .game {
    padding: 10px;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .game img {
    width: 35px;
    height: 35px;
  }
  .game-data h2,
  .game-data .btn,
  .game-level .btn-levels,
  .game-level .btn {
    font-size: 0.9rem;
    font-weight: normal;
    padding: 0.2rem;
    background-color: rgba(255, 255, 255, 0.443);
    color: white;
  }

  .game-data h2 {
    padding: 0.2rem;
  }
  .game-data {
    transform: translate(-70px, -60px);
    gap: 5px;
  }
  .game-level {
    transform: translate(70px, -70px);
    gap: 5px;
    padding: 0.5rem;

    transition: all 500ms;
  }
}
@media (max-width: 365px) {
}
